* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}
.signed {
  background-color: black;
  color: white;
  min-height: 100vh;
  text-align: left;
  border: none;
  position: relative;
  margin-top: -4vh;
  padding: 5px 20px;
}
.logos {
  margin-top: 4vh;
  width: 20vw;
  height: 5vh;
  color: red;
}
.signed .form h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin: 30px 10px;
}
.signed form input {
  width: 100%;
  background-color: rgb(80, 76, 76);
  border-radius: 5px;
  border: none;
  margin-top: 2vh;
}
.signed form button {
  width: 100%;
  background-color: red;
  color: #fff;
  font-weight: bold;
  padding: 10px auto 0;
  height: 8vh;
  font-size: 1.2rem;
  border-radius: 7px;
  margin-top: 3vh;
  text-align: center;
}
.signed .rem {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -10px;
  height: 70px;
}
.signed form .checkbox {
  line-height: 17px;
  width: 20px;
  display: inline-block;
  margin-right: 10px;
}
.signed form .body {
  margin-left: auto;
  position: relative;
  margin-top: -5px;
  font-weight: lighter;
  font-size: 1rem;
}
.light {
  font-weight: lighter;
  color: rgb(255, 247, 247);
}
.lighter {
  font-size: 0.9rem;
}
.learn {
  color: blue;
  font-size: 1.1rem;
}
.hrs {
  text-align: center;
  height: 10px;
  margin-top: 10vh;
  color: rgb(255, 242, 242);
}
.faq2 {
  margin-top: 3vh;
  padding-bottom: 8vh;
}
.faq2 .light {
  font-size: 0.8rem;
}
.grid2-container {
  display: grid;
  grid-template-columns: auto auto;
}
@media only screen and (min-width: 601px) {
  .mained {
    width: 100%;
    margin: 0 auto;
    background-image: url("../background.png");
  }
  .signed {
    width: 40%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }
}
