@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: rgb(65, 62, 62);
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: rgb(65, 62, 62);
  padding-bottom: 10px;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.2s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(45deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: rgb(65, 62, 62);
  overflow: hidden;
  transition: max-height 0.2s ease;
  text-align: left;
  /* max-height: 0; */
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
  text-align: left;
}
.accordlast {
  background-color: yellow;
}
